.meteor-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 25px;
  margin-top: 50px;
  padding: 20px;
  justify-content: center;
}


.meteor-amount {
  font-weight: bold;
  font-size: 18px;;
}

.mass-input {
  border: 2px solid rgb(232, 232, 232);
  padding: 9px 13px;
  width: 400px;
  border-radius: 5px;
  &:focus-within {
    border: 2px solid #6f7eea;
  }
}
